.btn{
    outline: none;
    border-radius: 1px;
    border: 1px solid;
    border-color: transparent;
    border-image:  linear-gradient(to right,#a88734 ,#9c7e31, #846a29) 3;
    background-color: #f0c14b;
    padding: 5px;
    width: max-content;
    font-size: 16px;
    font-weight: 600;
    transition: all 0.3s ease-out;
    color: white;
    margin: 0 auto;
    box-shadow: 1px 1px 1px 0 #ca991d,
                -1px -1px 1px 0 #f5b617;
                display: flex;
                align-items: center;
                justify-content: center;
}

.btn:hover,
.btn:active{
    background-color: #b9890f;
    
}

.btn:active{
    box-shadow: 8px 8px 10px 0 #ca991d inset,
                -3px -3px 6px 0 #f5b617 inset;
}

.btn:disabled{
    background-color: gray;
    box-shadow: none;
    cursor: not-allowed;
    border-image:  linear-gradient(to right,#3a3937 ,#353431, #2b2a27) 3;
}